<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Adding intellegence to your requirement.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul >
                        <li>
                                <h4 class="subheading">Here We Stand</h4>
                            <p> Meta Octopus is team of excellence with industry experience professionals. We believe transformation is core to to bring experts and deliver relevant solution with achieve business objectives and business problems.

Vision
To increase market reach via global expansions and to deliver the best business management application and integration expertise with faster return on investment to businesses world-wide.
Mission
Meta Octopus  aims to be the best IT solutions provider for enterprises in terms of growth, quality, and innovation. We focus on developing products best suited for client needs present and future, which help client businesses grow.
Value Proposition
Meta Octopus integrates people, technologies and business  to deliver quality products and innovative solutions across the world. 
Customers are guaranteed:
Solutions that strengthen their core functions for greater impact
On-time, on-budget project delivery
Customizable solutions
On-time support
</p>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>
