<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Adding intellegence to your requirement.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul >
                        <li>
                                <h4 class="subheading">Here We Stand</h4>
                            <p> Lets write about us</p>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>
